@page "/example/{ExampleKey}"

@if (Descriptor is null)
{
    <section>
        <div class="row">
            <div class="col-8">
                <p class="text-error"><b>Error:</b> not found any example for key '@(ExampleKey)'.</p>
            </div>
            <div class="col is-vertical-align is-right">
                <NavLinkExtended href="/" ActiveClass="active" Match="NavLinkExtendedMatch.Path" class="button primary outline">Go back</NavLinkExtended>
            </div>
        </div>
    </section>
}
else
{
    <section>
        <div class="row">
            <div class="col-8">
                <h1>@(Descriptor?.Name ?? string.Empty)</h1>
            </div>
            <div class="col is-vertical-align is-right">
                <NavLinkExtended href="/" ActiveClass="active" Match="NavLinkExtendedMatch.Path" class="button primary outline">Go back</NavLinkExtended>
            </div>
        </div>

        <div class="row">
            <div class="col">
                @Markdown.ToHtml(Descriptor?.Description ?? string.Empty)
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col">
                <TabContainer>
                    <Tab Text="Files">
                        <section id="features">
                            <div class="card">
                                <ul>
                                    <li>📁&nbsp; File</li>
                                    <li>📁&nbsp; File</li>
                                    <li>📁&nbsp; File</li>
                                    <li>📁&nbsp; File</li>
                                </ul>
                            </div>
                        </section>
                    </Tab>
                    <Tab Text="Logs">
                        <LogViewer @ref="LogViewerInstance"/>
                    </Tab>
                    <Tab Text="Quick start">
                        @Markdown.ToHtml(Descriptor?.Description ?? string.Empty)
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget efficitur lectus. Vivamus dapibus at ex eget vulputate. Etiam dui est, pretium eu diam ac, pellentesque egestas risus. Mauris nisi neque, porta ac porta commodo, vulputate non felis. Mauris ante turpis, gravida rutrum mi vel, aliquet tincidunt diam. Vestibulum pulvinar tempor enim eget viverra. Phasellus eros lectus, pharetra pharetra risus et, aliquet tristique odio.
                        </p>
                        <p>
                            Pellentesque semper ex sed arcu placerat tempus eget ac odio. Duis semper quis arcu a sollicitudin. Sed sit amet justo nec mi rhoncus sagittis vitae vitae lectus. Nullam vitae placerat est, eget euismod eros. Nullam vel neque non lacus fringilla vehicula. Vivamus viverra odio sit amet lectus lacinia, in dapibus metus tempus. Vestibulum velit orci, dictum a turpis sit amet, facilisis pharetra risus. Phasellus neque augue, rhoncus at ex eget, faucibus commodo sapien. Quisque ornare nibh a leo pretium, vitae aliquet enim dapibus.
                        </p>
                    </Tab>
                </TabContainer>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col">
                <TabContainer>
                    <Tab Text="Terminal">
                        <XTermComponent ExampleKey="@(Descriptor?.Key)" LoggerDestination="@LogViewerInstance"/>
                    </Tab>
                </TabContainer>
            </div>
        </div>
    </section>
}


@code
{
    [Parameter]
    public LogViewer? LogViewerInstance { get; set; }

    [Parameter]
    public ExampleDescriptor? Descriptor { get; set; }

    [Parameter]
    public string? ExampleKey { get; init; }

    [Inject] private IMarkdownService Markdown { get; init; } = default!;

    [Inject] private IOptions<ExamplesSettings> ExamplesSettings { get; init; } = default!;

    protected override void OnInitialized()
    {
        Descriptor ??= GetDescriptor();
    }

    private ExampleDescriptor? GetDescriptor()
    {
        string key = ExampleKey ?? string.Empty;

        ExampleDescriptor? descriptor = ExamplesSettings.Value.Examples.Where(x => x.Key == key)
                                                                       .FirstOrDefault();

        return descriptor;
    }
}