<header>
    <div class="hero @(HeaderSettings.IsFullScreen ? "is-full-screen" : string.Empty)">
        <div class="logo is-center is-vertical-align">
            <div class="row is-center">
                <div class="col-9-lg col-10-md col-11">
                    <img src="@AppSettings.LogoPath" alt="Logo">
                </div>
            </div>

            <div class="header-heading">@Markdown.ToHtml(HeaderSettings.Heading ?? string.Empty)</div>
            <div class="header-subheading">@Markdown.ToHtml(HeaderSettings.Subheading ?? string.Empty)</div>
        </div>
        <nav class="tabs is-center is-full">
            @foreach (var link in HeaderSettings.Links)
            {
                <Link href="@link.Href" Title="@link.Title" IsExternal="@link.IsExternal" />
            }
        </nav>
    </div>
</header>

@code
{
    [Inject] private IMarkdownService Markdown { get; init; } = default!;

    [Inject] private IOptions<ApplicationSettings> _AppSettings { get; init; } = default!;
    private ApplicationSettings AppSettings => _AppSettings.Value;

    [Inject] private IOptions<HeaderSettings> _HeaderSettings { get; init; } = default!;
    private HeaderSettings HeaderSettings => _HeaderSettings.Value;
}
