<header>
    <div class="hero is-full-screen">
        <div class="logo is-center is-vertical-align">
            <div class="row is-center">
                <div class="col-9-lg col-10-md col-11">
                    <img src="@AppSettings.LogoPath" alt="Logo">
                </div>
            </div>

            <h3>@Markdown.ToHtml(HeaderSettings.Heading ?? string.Empty)</h3>
            <div>@Markdown.ToHtml(HeaderSettings.Subheading ?? string.Empty)</div>
        </div>
        <nav class="tabs is-center">
            @foreach(var link in HeaderSettings.Links)
            {
                if (link.IsExternal)
                {
                    <a href="@(link.Href ?? string.Empty)" target="_blank">@(link.Title ?? string.Empty)</a>
                }
                else
                {
                    <NavLink href="@(link.Href ?? string.Empty)" ActiveClass="active text-primary" Match="NavLinkMatch.All">@(link.Title ?? string.Empty)</NavLink>
                }
            }
        </nav>
    </div>
</header>
