@using System.Diagnostics.CodeAnalysis

@if (IsExternal)
{
    <a href="@(string.IsNullOrWhiteSpace(href) ? string.Empty : href)" target="_blank">
        @if (IsHtmlTitle)
        {
            @((MarkupString)(Title ?? string.Empty))
        }
        else
        {
            @(Title ?? string.Empty)
        }
    </a>
}
else
{
    <NavLinkExtended href="@(string.IsNullOrWhiteSpace(href) ? string.Empty : href)" ActiveClass="active text-primary" Match="NavLinkExtendedMatch.Path">
        @if (IsHtmlTitle)
        {
            @((MarkupString)(Title ?? string.Empty))
        }
        else
        {
            @(Title ?? string.Empty)
        }
    </NavLinkExtended>
}

@code
{
    [Parameter]
    [SuppressMessage("Style", "IDE1006:Naming Styles", Justification = "This is link href parameter.")]
    public string? href { get; init; }

    [Parameter]
    public string? Title { get; init; }

    [Parameter]
    public bool IsExternal { get; init; }

    [Parameter]
    public bool IsHtmlTitle { get; init; }
}